    /*
    Flaticon icon font: Flaticon
    Creation date: 15/03/2016 10:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-accept:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }
.flaticon-arrows-right:before { content: "\f102"; }
.flaticon-bluetooth:before { content: "\f103"; }
.flaticon-dates:before { content: "\f104"; }
.flaticon-edit:before { content: "\f105"; }
.flaticon-lamp-off:before { content: "\f106"; }
.flaticon-lamp-on:before { content: "\f107"; }
.flaticon-plug:before { content: "\f108"; }
.flaticon-plug-2:before { content: "\f109"; }
.flaticon-plugged:before { content: "\f10a"; }
.flaticon-search:before { content: "\f10b"; }
.flaticon-tool:before { content: "\f10c"; }
    
    $font-Flaticon-accept: "\f100";
    $font-Flaticon-add: "\f101";
    $font-Flaticon-arrows-right: "\f102";
    $font-Flaticon-bluetooth: "\f103";
    $font-Flaticon-dates: "\f104";
    $font-Flaticon-edit: "\f105";
    $font-Flaticon-lamp-off: "\f106";
    $font-Flaticon-lamp-on: "\f107";
    $font-Flaticon-plug: "\f108";
    $font-Flaticon-plug-2: "\f109";
    $font-Flaticon-plugged: "\f10a";
    $font-Flaticon-search: "\f10b";
    $font-Flaticon-tool: "\f10c";