	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/03/2016 10:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-accept:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }
.flaticon-arrows-right:before { content: "\f102"; }
.flaticon-bluetooth:before { content: "\f103"; }
.flaticon-dates:before { content: "\f104"; }
.flaticon-edit:before { content: "\f105"; }
.flaticon-lamp-off:before { content: "\f106"; }
.flaticon-lamp-on:before { content: "\f107"; }
.flaticon-plug:before { content: "\f108"; }
.flaticon-plug-2:before { content: "\f109"; }
.flaticon-plugged:before { content: "\f10a"; }
.flaticon-search:before { content: "\f10b"; }
.flaticon-tool:before { content: "\f10c"; }